html
  head
    title Cadastro de Produtos
  body
    h1 Cadastro de Produtos
    form#formCadastro(action='/produtos/cadastra-produtos', method='post', enctype='multipart/form-data')
      // Adicione os campos do formulário para o cadastro de produtos
      div
        label(for='nome') Nome do Produto:
        input(type='text', id='nome', name='nome', required)
      div
        label(for='descricao') Descrição do Produto:
        input(type='text', id='descricao', name='descricao', required)
      div
        label(for='categoria') Categoria do Produto:
        input(type='text', id='categoria', name='categoria', required)
      div
        label(for='preco') Preço do Produto:
        input(type='decimal', id='preco', name='preco', required)
      div
        label(for='imagem') Imagem:
        input(type='file', id='imagem', name='imagem', accept='image/*', required)
      div
        button(type='submit') Cadastrar Produto

    #resultado

    script.
      document.getElementById('formCadastro').addEventListener('submit', async function(event) {
        event.preventDefault();

        const nome = document.getElementById('nome').value;
        const descricao = document.getElementById('descricao').value;
        const categoria = document.getElementById('categoria').value;
        const preco = document.getElementById('preco').value;
        

        const formData = new FormData(); // Cria um objeto FormData

        formData.append('nome', nome);
        formData.append('descricao', descricao);
        formData.append('categoria', categoria);
        formData.append('preco', preco);
        formData.append('imagem', document.getElementById('imagem').files[0]); // Adiciona o arquivo de imagem

        try {
          const response = await fetch('/produtos/cadastra-produtos', {
            method: 'POST',
            body: formData, // Usa o objeto FormData em vez de JSON.stringify
          });

          const data = await response.json();

          document.getElementById('resultado').innerHTML = `Produto cadastrado com ID: ${data.id}`;
        } catch (error) {
          console.error(error);
          document.getElementById('resultado').innerHTML = 'Erro ao cadastrar produto.';
        }
      });