html
  head
    title Marketplace Jogos
  body
    h1 Bem-vindo ao Marketplace de Jogos
    nav
      ul
        li
          a(href='/login') Login
        li
          a(href='/cadastro') Cadastro de Usuário
        li
          a(href='/produtos/listar') Ver Todos os Produtos
