html
  head
    title Página de Login
  body
    h1 Página de Login
    // Adicionando um bloco condicional para exibir mensagem de erro
    if mensagemErro
      p Erro: #{mensagemErro}
    form(action='/auth', method='post' id='form-login')
      div
        label(for='email') Email:
        input(type='email', id='email', name='email', required)
      div
        label(for='senha') Senha:
        input(type='password', id='senha', name='senha', required)
      
      button(type='submit') Login

    script.
      document.getElementById('form-login').addEventListener('submit', function (event) {
        event.preventDefault();
        const email = document.getElementById('email').value;
        const senha = document.getElementById('senha').value;

        fetch('/auth', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email, senha }),
        })
        .then(response => response.json())
        .then(data => {
          // Verifique se a resposta inclui uma URL de redirecionamento
          if (data.redirectTo) {
            // Redirecione para a URL especificada
            window.location.href = data.redirectTo;
          }
        })
        .catch(error => console.error(error));
      });
