html
  head
    title Tela Principal
  body
    h1 Tela Principal
    nav
      ul
        li
          a(href='/produtos/cadastrar') Cadastrar Produto
        li
          a(href='/produtos/visualizar-por-usuario') Visualizar Produtos
